* {
  padding: 0px;
  margin: 0px;
}

body {
  color: black;
  text-align: center;
}

h1 {
  font-family: "Jokerman";
  font-size: 50px;
}
h2 {
  font-family: "Curlz MT";
  font-size: 40px;
}

#jogo {
  margin: auto;
  margin-top: 40px;
  width: 600px;
  height: 600px;
  padding: 40px;
  border: solid 15px;
  background-color: #fd9644;
}

.casa {
  height: 170px;
  width: 200px;
  border: 3px solid black;
  float: left;
  text-align: center;
  padding-top: 30px;
}
.linha {
  width: 808px;
  height: 808px;
  margin: auto;
  /*height: 200px;
  border-bottom: solid 4px;*/
}
