* {
  padding: 0px;
  margin: 0px;
}

body {
  color: black;
  text-align: center;
}
title {
  font-family: "Jokerman";
}
h1 {
  font-family: "Jokerman";
  font-size: 50px;
}
h2 {
  font-family: "Curlz MT";
  font-size: 40px;
}

#jogo {
  width: 600px;
  height: 600px;
  padding: 40px;
  margin: 100px;
  border: solid 15px;
  /*background-color: #f6e58d;*/
  background-color: #fd9644;
}

.linha {
  height: 200px;
  border-bottom: solid 4px;
}

.casa {
  /*height: 200px;*/
  height: 100%;
  width: 200px;
  border-right: solid 4px;
  float: left;
}


